<div ng-controller="OrganisationCtrl">

  <div ng-hide="current.name">
    <div >
      <div class="load-message">
        <i class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>
  </div>


  <div class="panel panel-default" ng-show="current.name">
    <div class="panel-body">
      <ol class="breadcrumb" >
        <li><a href ng-click="home()" ><span class="octicon octicon-home"></span></a></li>
        <li ng-repeat="part in getPath(current)"><a href ng-click="browse(part)" >{{part.name}}</a></li>
      </ol>

      <ul>
        <li class="animate-repeat" ng-repeat="child in current.children | filter:{isFolder:true}">
          <a href ng-click="browse(child)" ><span class="octicon octicon-file-directory"></span> {{child.name}}</a>
        </li>
      </ul>

      <ul>
        <li class="animate-repeat" ng-repeat="child in current.children | filter:{isFolder:false}">
          <a ng-href={{child.link}} target="_blank"><span class="octicon octicon-repo"></span> {{child.name}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>
